# 1. Problem Statement

We have the 2017 and 2018 data for SAT and ACT participation rates and scores across all states.<br/>

It is College Board's goal to identify a state which is in most need ot support and funding to increase SAT participation rates. <br/>

The data: <br/>
[SAT 2017](https://git.generalassemb.ly/DSI-US-7/project_1/blob/master/data/sat_2017.csv) <br/>
[ACT 2017](https://git.generalassemb.ly/DSI-US-7/project_1/blob/master/data/act_2017.csv) <br/>
[SAT and ACT 2018](https://docs.google.com/spreadsheets/d/1rY3I09Mdlng9S9agJYe5yMVjtomYa1pmXcDPsJ__vSA/edit#gid=0) <br/>

In [1]:
# load all libraries used in this notebook

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 2. 2017 Data Import and Cleaning

In [2]:
# import data and check data dimensions 
sat = pd.read_csv('../data/sat_2017.csv')
act = pd.read_csv('../data/act_2017.csv')
print(sat.shape)
print(act.shape)

(51, 5)
(52, 7)

In [3]:
# display the first 5 rows of the sat dataframe 
sat.head()

        State Participation  Evidence-Based Reading and Writing  Math  Total
0     Alabama            5%                                 593   572   1165
1      Alaska           38%                                 547   533   1080
2     Arizona           30%                                 563   553   1116
3    Arkansas            3%                                 614   594   1208
4  California           53%                                 531   524   1055

In [4]:
# display the first 5 rows of the act dataframe 
act.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

The sat and act dataframes have a column that should be the same for both  - the **state** column. There are 51 states in the US. So assuming the **state** column contains only the states as it should and noting that each state represents an observation in the data and therefore should have its own row in the data frame, both sat and act dataframes should have 51 rows. However, having investigated the dimensions of the two data frames earlier we saw that 

* sat data has 51 rows 
* act data has 52 rows 

So then, act data contains an extra row which looks suspicious and needs further investigation.

In [5]:
# Check the unique values in the 'state' column for act data
list(act['State'].unique())

['National',
 'Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

Notice that among the states in act data, an additional 'national' value is listed. Let's see what that is?

In [6]:
act[act['State']=='National']

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0

Ok, so this observation contains data on a national level for a variety of act related variables. This is additional data that the sat data does not have which is ok. 

To make things easier, I want to merge the act and sat dataframes into one dataframe so that there is no need to study each separately anymore. Since the **State** variable is present in both dataframes, we can use this as the column to merge our dataframes on. During this merge, the ***National*** observation in act data will be dropped because there is no equivalent value in the sat data's **State** column. This is not a problem because we are only interested in individual state level data.

In [7]:
# merge act and sat dataframes on 'State' column
data = pd.merge(sat, act, on = 'State')
print(data.shape)
data.head()

(51, 11)

,State,Participation_x,Evidence-Based Reading and Writing,Math_x,Total,Participation_y,English,Math_y,Reading,Science,Composite
0,Alabama,5%,593,572,1165,100%,18.9,18.4,19.7,19.4,19.2
1,Alaska,38%,547,533,1080,65%,18.7,19.8,20.4,19.9,19.8
2,Arizona,30%,563,553,1116,62%,18.6,19.8,20.1,19.8,19.7
3,Arkansas,3%,614,594,1208,100%,18.9,19.0,19.7,19.5,19.4
4,California,53%,531,524,1055,31%,22.5,22.7,23.1,22.2,22.8

Let's check to confirm that the ***National*** observation has been dropped from the unique values in the **State** variable for our new **data** which contains both sat and act data.

In [8]:
if 'National' not in list(data['State'].unique()):
    print('"National" was dropped')
else: 
    print('"National" is still in data')

"National" was dropped

Now that we have merged sat and act data into one dataframe, columns that had the same headers for sat and act must have acquired a suffix, namely **_x** and **_y** for sat and act respsectively to ensure that each column header is unique. It's best to rename the columns overall so that the column headers are more informative.

In [9]:
# print current column names
list(data.columns)

['State',
 'Participation_x',
 'Evidence-Based Reading and Writing',
 'Math_x',
 'Total',
 'Participation_y',
 'English',
 'Math_y',
 'Reading',
 'Science',
 'Composite']

In [10]:
# rename columns 
data.rename(columns={'State':'state',
                     'Participation_x':'sat_participation', 
                     'Math_x':'sat_math',
                     'Total':'sat_total',
                     'Evidence-Based Reading and Writing':'sat_read_write',
                     'Participation_y':'act_participation',
                     'Math_y':'act_math',
                     'English':'act_english',
                     'Reading':'act_reading',
                     'Science':'act_science',
                     'Composite':'act_composite'
                    }, inplace=True)
list(data.columns)

['state',
 'sat_participation',
 'sat_read_write',
 'sat_math',
 'sat_total',
 'act_participation',
 'act_english',
 'act_math',
 'act_reading',
 'act_science',
 'act_composite']

Seems like we're in good shape to familiarize ourselves with the data more closely. Let's run some commands to dlearn more about the data.

In [11]:
# check the data types of each column 
data.dtypes

state                 object
sat_participation     object
sat_read_write         int64
sat_math               int64
sat_total              int64
act_participation     object
act_english          float64
act_math             float64
act_reading          float64
act_science          float64
act_composite         object
dtype: object

In [12]:
# check the number of diplicate rows (if any)
data.duplicated().sum()

0

In [13]:
# check the number of missing values for each column 
data.isnull().sum()

state                0
sat_participation    0
sat_read_write       0
sat_math             0
sat_total            0
act_participation    0
act_english          0
act_math             0
act_reading          0
act_science          0
act_composite        0
dtype: int64

Here is what the data looks like at first glance:

* the data looks complete given that there are no missing values
* there are no duplicate rows
* the data inside most columns is numberic (integer/float) except for:
    **state**, **sat_participation**, **act_participation** and **act_composite** have string datatypes.   

The **state** is expected to be typed as string variable. However, in order to conduct numerical analyses and computations on **sat_participation**, **act_participation** and **act_composite** variables we need to convert their datatpes to numeric. But we will come back to this later. For now let's get some basic descriptive statistics on the data.

In [14]:
# descriptive statistics with 6 sig fig precision. 
data.describe(include = 'all').T.style.set_precision(6) # include = 'all' ensures that all variables are represented, even those with non-numeric types for which descriptive stats such as mean and std cannot be computed due to their non-numeric data types. Such variables will display their stats with a 'nan'

Having viewed the first few rows of the data before, we know that **sat_participation, act_participation** and **act_composite** variables contain values that are numbers, however are of string datatypes. We now need to convert them to numeric datatypes so we can perform computations on them.

The **sat_participation** and **act_participation** variables appear to have string datatypes due to the '%'. So let's clean that up and convert them to numeric (floats). We also want to divide their values by 100 because we don't need the percentage scale.

In [15]:
# strip "%" from values in sat_participation and act_participation 
for i in data['sat_participation']:
    data["sat_participation"] = data["sat_participation"].str.rstrip('%')

for i in data['act_participation']:
    data["act_participation"] = data["act_participation"].str.rstrip('%')
    
# convert values in sat_participation and act_participation to floats
data["sat_participation"] = data["sat_participation"].astype('float')
data["act_participation"] = data["act_participation"].astype('float')

# divide the values by 100
data['sat_participation'] = data['sat_participation']/100
data['act_participation'] = data['act_participation']/100

In [16]:
data.head()

,state,sat_participation,sat_read_write,sat_math,sat_total,act_participation,act_english,act_math,act_reading,act_science,act_composite
0,Alabama,0.05,593,572,1165,1.00,18.9,18.4,19.7,19.4,19.2
1,Alaska,0.38,547,533,1080,0.65,18.7,19.8,20.4,19.9,19.8
2,Arizona,0.30,563,553,1116,0.62,18.6,19.8,20.1,19.8,19.7
3,Arkansas,0.03,614,594,1208,1.00,18.9,19.0,19.7,19.5,19.4
4,California,0.53,531,524,1055,0.31,22.5,22.7,23.1,22.2,22.8

Now let's find out why the **act_composite** variable is not numeric, even though it appears as if it should be given the format of the values.

In [17]:
data['act_composite'].unique()

array(['19.2', '19.8', '19.7', '19.4', '22.8', '20.8', '25.2', '24.1',
       '24.2', '21.4', '19.0', '22.3', '22.6', '21.9', '21.7', '20.0',
       '19.5', '24.3', '23.6', '25.4', '21.5', '18.6', '20.4', '20.3',
       '17.8', '25.5', '23.9', '19.1', '22.0', '21.8', '23.7', '24.0',
       '18.7', '20.7', '23.8', '20.5', '20.2x'], dtype=object)

It looks like one of the values in **act_numeric** contains an **'x'** in it which is probably what's causing this variable to be of datatype string. We need to clean that up.

In [18]:
# get the index of the row which contains the dirty value in **act_composite** column 
data[data['act_composite']=='20.2x'].index

Int64Index([50], dtype='int64')

In [19]:
# strip the value of the 'x' that's contaminating it
dirty_string = data['act_composite'][50]
data['act_composite'][50] = dirty_string.rstrip('x')
# check and make sure the value no longer contains the 'x'
data['act_composite'][50]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

'20.2'

In [20]:
# convert **act_composite** to float dataype 
data["act_composite"] = data["act_composite"].astype('float')
# check the datatypes of the columns 
data.dtypes

state                 object
sat_participation    float64
sat_read_write         int64
sat_math               int64
sat_total              int64
act_participation    float64
act_english          float64
act_math             float64
act_reading          float64
act_science          float64
act_composite        float64
dtype: object

In [21]:
data.head()

,state,sat_participation,sat_read_write,sat_math,sat_total,act_participation,act_english,act_math,act_reading,act_science,act_composite
0,Alabama,0.05,593,572,1165,1.00,18.9,18.4,19.7,19.4,19.2
1,Alaska,0.38,547,533,1080,0.65,18.7,19.8,20.4,19.9,19.8
2,Arizona,0.30,563,553,1116,0.62,18.6,19.8,20.1,19.8,19.7
3,Arkansas,0.03,614,594,1208,1.00,18.9,19.0,19.7,19.5,19.4
4,California,0.53,531,524,1055,0.31,22.5,22.7,23.1,22.2,22.8

Now that all the variables are of the correct datatypes, we can run .describe() on the data again

In [22]:
data.describe().T.style.set_precision(6)

To make interpret this table some context is needed on how act and sat scores work. 

* SAT: The sat score range is between 400 and 1600 for your total score, and 200-800 for each of your two subscores. One subscore is for Math, and one subscore is your combined Reading and Writing scores to make one “Evidence-Based Reading and Writing” score. 


* ACT: The act is scored on a scale of 1–36, and the average ACT score for the class of 2017 is 21. There are 4 sections on the ACT: English, Math, Reading, and Science. Each section is scored out of 36 points. Your composite ACT score is an average of your 4 section scores.

Given this information, we know that sat scores cannot be below 200 per subscore. However, from the above table we see that the minimum value for sat_math is 52. This is obviously incorrect. Let's find where this value is positioned in the data frame and then compare it to the trusted source from which the data was extrcted ([SAT](https://blog.collegevine.com/here-are-the-average-sat-scores-by-state/),
[ACT](https://blog.prepscholar.com/act-scores-by-state-averages-highs-and-lows)) to hopefully find the correct value and make the appropriate correction.

In [23]:
data[data['sat_math'] == 52].index

Int64Index([20], dtype='int64')

In [24]:
# fix the error in data in row 20, column 3 (the sat_math column) 
data[data['sat_math'] == 52]['sat_math'] = 524
data.iloc[20,3]=524
# check to make sure the incorrect value has been corrected
data.loc[20,:]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

state                Maryland
sat_participation        0.69
sat_read_write            536
sat_math                  524
sat_total                1060
act_participation        0.28
act_english              23.3
act_math                 23.1
act_reading              24.2
act_science               2.3
act_composite            23.6
Name: 20, dtype: object

Everything looks good so far and is ready for further exploratory analyses. But first, let's save the new dataframe into a file and export it to the working directory.

In [25]:
# save data to a file 
data.to_csv('../data/combined_2017.csv')

# 3. 2018 Data Import and Cleaning

In [26]:
# import the data 
sat_2018 = pd.read_csv('../data/sat_2018.csv')
act_2018 = pd.read_csv('../data/act_2018.csv')

In [27]:
# view first 5 rows of data
sat_2018.head()

,State,Participation,Evidence-Based Reading and Writing,Math,Total,Actual Total,Total - Actual Total
0,Alabama,6%,595.0,571.0,1166.0,1166.0,0.0
1,Alaska,43%,562.0,544.0,1106.0,1106.0,0.0
2,Arizona,29%,577.0,572.0,1149.0,1149.0,0.0
3,Arkansas,5%,592.0,576.0,1169.0,1168.0,1.0
4,California,60%,540.0,536.0,1076.0,1076.0,0.0

In [28]:
# drop columns we don't need
sat_2018.drop(['Actual Total', 'Total - Actual Total'], axis = 1, inplace = True)

In [29]:
act_2018.head()

,State,Participation,Composite,State.1,Participation.1,Composite.1
0,Alabama,100%,19.1,Alabama,100%,19.1
1,Alaska,33%,20.8,Alaska,33%,20.8
2,Arizona,66%,19.2,Arizona,66%,19.2
3,Arkansas,100%,19.4,Arkansas,100%,19.4
4,California,27%,22.7,California,27%,22.7

In [30]:
# drop columns we won't be needing 
act_2018.drop(['State.1', 'Participation.1', 'Composite.1'], axis = 1, inplace = True)

In [31]:
act_2018.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [32]:
act_2018.shape

(52, 3)

In [33]:
act_2018['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
       'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'National', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'Washington, D.C.',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

We notice that 'District of Columbia' is given as 'Washington, D.C.' in the ACT data. We need to make sure that the states have exactly the same names in both SAT and ACT data so that we can then join the two datasets on the 'state' column.

In [34]:
act_2018[act_2018['State'] == 'Washington, D.C.'].index

Int64Index([48], dtype='int64')

In [35]:
act_2018['State'][48] = 'District of Columbia'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Also, there is a spelling error in 'Oaklahoma' which needs to be fixed.

In [36]:
act_2018[act_2018['State'] == 'Oklahoma'].index

Int64Index([36], dtype='int64')

In [37]:
act_2018['State'][36] = 'Oaklahoma'

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Now we're ready to merge sat and act 2018 datasets.

In [38]:
data_18 = pd.merge(sat_2018, act_2018, on = 'State')
data.shape

(51, 11)

In [39]:
data_18.head()

,State,Participation_x,Evidence-Based Reading and Writing,Math,Total,Participation_y,Composite
0,Alabama,6%,595.0,571.0,1166.0,100%,19.1
1,Alaska,43%,562.0,544.0,1106.0,33%,20.8
2,Arizona,29%,577.0,572.0,1149.0,66%,19.2
3,Arkansas,5%,592.0,576.0,1169.0,100%,19.4
4,California,60%,540.0,536.0,1076.0,27%,22.7

In [40]:
# changing up the column names
data_18.rename(columns={'State':'state',
                     'Participation_x':'sat_participation', 
                     'Math':'sat_math',
                     'Total':'sat_total',
                     'Evidence-Based Reading and Writing':'sat_read_write',
                     'Participation_y':'act_participation',
                     'Composite':'act_composite'
                    }, inplace=True)
list(data_18.columns)

['state',
 'sat_participation',
 'sat_read_write',
 'sat_math',
 'sat_total',
 'act_participation',
 'act_composite']

In [41]:
data_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 7 columns):
state                51 non-null object
sat_participation    51 non-null object
sat_read_write       51 non-null float64
sat_math             51 non-null float64
sat_total            51 non-null float64
act_participation    51 non-null object
act_composite        51 non-null float64
dtypes: float64(4), object(3)
memory usage: 3.2+ KB

In [42]:
# strip "%" from values in sat_participation and act_participation 
for i in data_18['sat_participation']:
    data_18["sat_participation"] = data_18["sat_participation"].str.rstrip('%')

for i in data_18['act_participation']:
    data_18["act_participation"] = data_18["act_participation"].str.rstrip('%')
    
# convert values in sat_participation and act_participation to floats
data_18["sat_participation"] = data_18["sat_participation"].astype('float')
data_18["act_participation"] = data_18["act_participation"].astype('float')

# divide the values by 100
data_18['sat_participation'] = data_18['sat_participation']/100
data_18['act_participation'] = data_18['act_participation']/100

In [43]:
data_18.describe().T.style.set_precision(6)

# 4. Merging 2017 and 2018 Data

In [44]:
# data.drop(['act_english',
#            'act_math',
#            'act_reading',
#            'act_science',
#            'act_english',
#            'sat_read_write',
#            'sat_math'
#           ], axis=1, inplace = True) 

# data['year'] = int(2017)

# data_18.drop(['sat_read_write',
#               'sat_math'], axis=1, inplace = True)

# data_18['year'] = int(2018)

# print(data.columns)
# print(data_18.columns)
# print(data['year'].value_counts())
# print(data_18['year'].value_counts())

# df_17_concat_18 = pd.concat([data, data_18])

# print(df_17_concat_18[df_17_concat_18['state']=='Oklahoma'].index)

# print(df_17_concat_18.shape)
# df_17_concat_18.head()

# data['state'][36]='Oaklahoma'

# df_17_concat_18.to_csv('../data/'concat_dat.csv')

In [45]:
# for i, j in zip(data_18['state'], data['state']):
#         if i != j:
#             print(i)
#             print(j)

In [46]:
# data[data['state']=='Oklahoma'].index

In [47]:
# data['state'][36]='Oaklahoma'

In [48]:
df = pd.merge(data, data_18, on = 'state')
df.shape

(50, 17)

In [49]:
df.head()

,state,sat_participation_x,sat_read_write_x,sat_math_x,sat_total_x,act_participation_x,act_english,act_math,act_reading,act_science,act_composite_x,sat_participation_y,sat_read_write_y,sat_math_y,sat_total_y,act_participation_y,act_composite_y
0,Alabama,0.05,593,572,1165,1.00,18.9,18.4,19.7,19.4,19.2,0.06,595.0,571.0,1166.0,1.00,19.1
1,Alaska,0.38,547,533,1080,0.65,18.7,19.8,20.4,19.9,19.8,0.43,562.0,544.0,1106.0,0.33,20.8
2,Arizona,0.30,563,553,1116,0.62,18.6,19.8,20.1,19.8,19.7,0.29,577.0,572.0,1149.0,0.66,19.2
3,Arkansas,0.03,614,594,1208,1.00,18.9,19.0,19.7,19.5,19.4,0.05,592.0,576.0,1169.0,1.00,19.4
4,California,0.53,531,524,1055,0.31,22.5,22.7,23.1,22.2,22.8,0.60,540.0,536.0,1076.0,0.27,22.7

In [50]:
df.rename(columns = {'sat_participation_x':'sat_part_17',
                     'sat_participation_y':'sat_part_18',
                     'act_participation_x':'act_part_17',
                     'act_participation_y':'act_part_18',
                     'act_composite_x':'act_comp_17',
                     'act_composite_y':'act_comp_18',
                     'sat_read_write_x':'sat_rw_17',
                     'sat_read_write_y':'sat_rw_18',
                     'sat_math_x':'sat_math_17',
                     'sat_math_y':'sat_math_18',
                     'sat_total_x':'sat_total_17',
                     'sat_total_y':'sat_total_18',
                     'act_english':'act_eng_17',
                     'act_math':'act_math_17',
                     'act_reading':'act_read_17',
                     'act_science':'act_sci_17'
                     }, inplace = True)

In [51]:
df.head()

,state,sat_part_17,sat_rw_17,sat_math_17,sat_total_17,act_part_17,act_eng_17,act_math_17,act_read_17,act_sci_17,act_comp_17,sat_part_18,sat_rw_18,sat_math_18,sat_total_18,act_part_18,act_comp_18
0,Alabama,0.05,593,572,1165,1.00,18.9,18.4,19.7,19.4,19.2,0.06,595.0,571.0,1166.0,1.00,19.1
1,Alaska,0.38,547,533,1080,0.65,18.7,19.8,20.4,19.9,19.8,0.43,562.0,544.0,1106.0,0.33,20.8
2,Arizona,0.30,563,553,1116,0.62,18.6,19.8,20.1,19.8,19.7,0.29,577.0,572.0,1149.0,0.66,19.2
3,Arkansas,0.03,614,594,1208,1.00,18.9,19.0,19.7,19.5,19.4,0.05,592.0,576.0,1169.0,1.00,19.4
4,California,0.53,531,524,1055,0.31,22.5,22.7,23.1,22.2,22.8,0.60,540.0,536.0,1076.0,0.27,22.7

In [52]:
df.describe()

,sat_part_17,sat_rw_17,sat_math_17,sat_total_17,act_part_17,act_eng_17,act_math_17,act_read_17,act_sci_17,act_comp_17,sat_part_18,sat_rw_18,sat_math_18,sat_total_18,act_part_18,act_comp_18
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,0.404600,569.900000,557.680000,1127.680000,0.645600,20.980000,21.230000,22.052000,21.070000,21.562000,0.474000,567.820000,557.980000,1125.880000,0.608800,21.542000
std,0.353191,45.783987,47.250716,92.734301,0.320778,2.351552,1.972386,2.069925,3.208042,2.018172,0.379936,45.620301,49.106087,94.365689,0.339794,2.115549
min,0.020000,482.000000,468.000000,950.000000,0.080000,16.300000,18.000000,18.100000,2.300000,17.800000,0.020000,497.000000,480.000000,977.000000,0.070000,17.700000
25%,0.040000,535.250000,524.000000,1057.000000,0.310000,19.100000,19.500000,20.500000,19.925000,19.850000,0.042500,535.000000,522.250000,1063.250000,0.277500,20.000000
50%,0.405000,559.500000,549.500000,1107.500000,0.680000,20.800000,21.050000,21.850000,21.300000,21.400000,0.535000,553.000000,547.000000,1099.000000,0.655000,21.300000
75%,0.665000,613.500000,601.000000,1214.000000,1.000000,23.300000,23.100000,24.175000,22.975000,23.600000,0.797500,617.250000,603.250000,1225.000000,1.000000,23.675000
max,1.000000,644.000000,651.000000,1295.000000,1.000000,25.500000,25.300000,26.000000,24.900000,25.500000,1.000000,643.000000,655.000000,1298.000000,1.000000,25.600000

In [53]:
# save data to a file 
df.to_csv('../data/final.csv')